/* Your CSS file */

/* Navbar.css */

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
  
  .navbar.scrolled {
    background-color: #333; 
    box-shadow: 0px 0px 5px 0px #191919;/* Set your desired background color */
  }
  